.barra-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: #004f9e;
    z-index: 1;
}
/*14 ProMax na horizontal*/
@media(max-width:932px){
    .barra-menu{
        height: 160px;    
    }
}
@media(max-width: 712px){
    .barra-menu{
        height: 180px;
    }
}




.container-logos{
    position: absolute;
    display: flex;
    top: 0;
    left: 20px;
    gap: 10px;
    margin: auto;
}
@media(max-width:430px){
    .container-logos{
        top: 10px;
        gap: 60px;
    }
}
@media(max-width:360px){
    .container-logos{
        top: 10px;
        gap: 20px;
    }
}
.container-pages{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 30px;
    top: 50px;
    left: 500px;   
}
@media(max-width: 1680px){
    .container-pages{
        left: 500px;
    }
}
/*Tab S4 na horizontal*/
@media(max-width:1138px){
    .container-pages{
        left: 400px;
        
    }
}
/*14 ProMax na horizontal*/
@media(max-width:932px){
    .container-pages{
        top: 120px;
        left: 30px;
    }

}
@media(max-width:712px){
    .container-pages{
        top: 130px;
        left: 28px;
    }
}

@media(max-width: 430px){
    .container-pages{
        top: 130px;
        left: 30px;
    }
}
