.TituloHome{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
}

#titulo-home {
    font-size: 60px;
    color: #004f9e;
    white-space: nowrap;
}

@media (max-width: 1440px) {
    #titulo-home {
        font-size: 50px;
    }
}

@media (max-width: 414px) {
    #titulo-home {
        font-size: 22px;
        
    }
}


#sub-titulo-home{
    font-size: 22px;
    
}

@media(max-width:414px){
    #sub-titulo-home{
        font-size: 17px;
    }
}