.TituloHome{
    /*position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%);*/
    margin-top: 130px;
    max-width: 900px;
    height: auto;

}

#titulo-home {
    font-size: 60px;
    color: #004f9e;
    white-space: nowrap;
}
@media(max-width:712px){
    .TituloHome{
        margin-top: 180px;
        max-width: 600px;
    }
}
@media(max-width:430px){
    .TituloHome{
        margin-top: 180px;
        width: 380px;
    }
}
@media(max-width:360px){
    .TituloHome{
        width: 320px;
    }
}

@media (max-width: 1440px) {
    #titulo-home {
        font-size: 50px;
    }
}
@media(max-width:932px){
    #titulo-home{
        font-size: 40px;
    }
}
@media(max-width:932px){
    .TituloHome{
        max-width: 800px;
    }
}
@media(max-width:712px){
    #titulo-home{
        font-size: 30px;
    }
}

@media (max-width: 430px) {
    #titulo-home {
        font-size: 22px;
        
    }
}


#sub-titulo-home{
    font-size: 22px;
    
    
}

@media(max-width:430px){
    #sub-titulo-home{
        font-size: 17px;
        color: black;
    }
}