.TituloHome{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
}

#titulo-home {
    font-size: 60px;
    color: #004f9e;
    white-space: nowrap;
    margin: auto;
}
@media(max-width:712px){
    .TituloHome{
        top: 240px;
    }
}
@media(max-width:430px){
    .TituloHome{
        top: 220px;
    }
}

@media (max-width: 1440px) {
    #titulo-home {
        font-size: 50px;
    }
}
@media(max-width:712px){
    #titulo-home{
        font-size: 30px;
    }
}

@media (max-width: 430px) {
    #titulo-home {
        font-size: 22px;
        
    }
}


#sub-titulo-home{
    font-size: 22px;
    
}

@media(max-width:430px){
    #sub-titulo-home{
        font-size: 17px;
    }
}